<ion-header>
  <ion-toolbar>
    <ion-title>drug-select</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
  <ion-label>Select Drug</ion-label>
  <ionic-selectable
    [(ngModel)]="selectedDrug"
    [items]="drugs$ | async"
    itemValueField="drug_id"
    itemTextField="drug_name"
    [canSearch]="true"
    [isMultiple]="true"
    (onChange)="selectDrug($event)">
  </ionic-selectable>
</ion-item>
<div padding>
  <ion-button size="large" type="submit" expand="block" (click)='saveDrug()'>Select</ion-button>
</div>
</ion-content>
