<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" padding>
  <form [formGroup]="validations_form">
  <!-- <form #form="ngForm" (ngSubmit)="login(form)"> -->
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <!-- username input with validator -->
            <ion-item>
              <ion-input type="text" placeholder="Email" formControlName="username"></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.username">
                  <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
            </div>

            <!--<ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="user.password" required></ion-input>
            </ion-item>-->

            <!-- birthdate input with validator -->
            <ion-item>
              <ion-input type="text" placeholder="YYYY" formControlName='birthdate'></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.birthdate">
                  <div class="error-message" *ngIf="validations_form.get('birthdate').hasError(validation.type) && (validations_form.get('birthdate').dirty || validations_form.get('birthdate').touched)">
                    <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                  </div>
                </ng-container>
            </div>
          </div>
          <div padding>
            <ion-button size="large" type="submit" (click)="login()" [disabled]="!validations_form.valid" expand="block">Login</ion-button>
          </div>
          <div text-center>
            If you don't have an account, please <a routerLink='/register'>register</a> first!
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
