<ion-content class="contentArea"> 
  <div class="flexcontainer">           
            
    <ion-header>
      <ion-toolbar class="divheader">
        <div class="boxrow medscrab" align="center">MedScrab</div>
      </ion-toolbar>
    </ion-header>

    <div class="box menubuttonstop">
      <div class="menubtntop">HOMEPAGE</div>
    </div>

    <div class="box divpoints" align="center">
      <div class="congrats">CONGRATULATIONS:</div>
      <div class="points">
        <div class="leftpadding"></div>
          
        <div class="pointsbulb" align="center"> 
          <br>
          <img src="../assets/bulbthumbsup.png" height="75px">
        </div>
        <div class="youhave100pts">
            <br>
            <div class="youhave">You have</div>
            <div class="numberofpoints">100</div>
            <div class="pts">Points!</div>
        </div>
        <div class="rightpadding"></div>
        
      </div>
    </div>

    <div class="box menubuttons">
      <div class="menubtn" routerLink="/drug-select">SELECT DRUG</div>
      <div class="menubtn" routerLink="/game">PLAY GAME</div>
      <div class="menubtn">HELP</div>
      <div class="menubtn" (click)='logout()'>LOG OUT</div>
    </div>

  </div>
</ion-content>
