/*
<div *ngIf="char === ' '" padding></div>*/


.contentArea { 
  --background: rgb(255, 255, 255);
  height: 100%;
}

  /*flex structure - COLUMN:
  PARENT: .FLEXCONTAINER & .box
    CHILD: BOX DIVHEADER - NO FLEX
    CHILD: BOX DIVLEVEL - FLEX 1
    CHILD: BOX DIVGAME - NO FLEX
    
    PARENT: .divgame & .box
      subchild: divinfo - no flex
      subchild: divhint - flex 1 (divhint needs a container around it to make it vertically centered^^)
      subchild: divword - no flex
      subchild: divletterbank - no flex
  */

  .flexcontainer {
    /*parent flex setup*/
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;  
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.divheader {
  padding-left: 5px;
  padding-right: 5px;

  /*parent flex setup for */
  height: 75px;
  padding-top: 35px;
  padding-bottom: 0px;
}

.boxrow {
  display: inline-block;
}

.header {
  height: 100%;
  width: 30%;
  color: #620000;  
  font-size: 20px;
}

.medscrab {
  color: #620000;
  font-weight: bold;
  font-family: "arial";
  font-size: 20px;

  height: 100%;  
  width: 40%;
}

.headerpoints {
  height: 100%;  
  width: 30%;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: #620000;  
}

.points {
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  color: #620000; 
}

.divlevel {
  /*side padding for divlevel only*/
  padding-left: 5px;
  padding-right: 5px;

  padding-top: 5px;
  padding-bottom: 5px;
}

.level {
  color: black;
  font-family: "quicksand"; /*quicksand*/
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.divgame {
/*side padding for divinfo & divhint (divword needs max phone width for iphon5 to fit 10 tiles across ie: hydralazine hydrochloride level 4 "")*/
  padding-left: 5px;
  padding-right: 5px;

  /*child flex of 1*/
  flex: 1 1 auto;

  /*parent flex setup for subchildren: divinfo, divhint, divword, and divletterbank*/
  display: flex;
  flex-direction: column;
}

.divinfo {
  color: black;    

  /*placement*/
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;

  /*background*/
  background-color: #F9EEDA; /*#C3D2FF;*/
  border-radius: 10px; 
  box-shadow: 2px 2px 2px gray; /*#6D83C4;  */
  
  /*padding*/
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;

  flex: .4;
}

.info {
  color: black; //2A200B;
  font-family: "quicksand";
  font-weight: bold;    
  font-size: 21px;      
  letter-spacing: 2px; 
}

.divwarning {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /*top padding for warning IF there IS a warning*/
  padding-top: 10px;
}

.warning {
  color: #620000;
  font-family: "quicksand";
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;   
}

.divhint {
  flex: .6;    

  /*placement*/
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;  
}

.hints {
  /*FLEXBOX STRUCTURE - ROW:
  PARENT: HINTS 
  CHILD: HINTBULB - FLEX .3
  CHILD: HINT - FLEX .7 */
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row; 
}

.hintbulb {
  /*child 1/2 of divhint flexbox*/
  flex: .27;
  padding-left: 15px;

  /*rotation*/
  transform: rotate(-10deg);

  /*animation*/
  animation: wiggle infinite;
  animation-delay: 3000ms;
  animation-duration: 6000ms;
  animation-timing-function: ease-in-out;
  transform-origin: 70% 70%;
}

@keyframes wiggle {
  0% { transform: rotate(-10deg); }
  10% { transform: rotate(20deg); }
  20% { transform: rotate(-10deg); }
  100% { transform: rotate(-10deg); }
}

.hint {
  /*child 2/2 of divhint flexbox*/
  flex: .73;
  color: black;
  font-family: "quicksand";
  font-weight: bold;      
  font-size: 16px;
  letter-spacing: 0px;
}

.divword {
  height: 120px;
  /*padding*/
  padding-bottom: 2px;
}

.divletterbank {
  height: 150px;
  margin-left: auto;
  margin-right: auto;

  /*letters in a row*/
  flex-direction: row;
  flex-wrap: wrap;

  /*padding*/
  padding-top: 2px;
  padding-bottom: 3px;
}

.char {
  display: inline-block;
  margin-bottom: 5px;
}

.newline {
  display: block;
  width: 0px;
}

.warning2 {
  color: #620000;
  font-family: "quicksand";
  font-size: 18px;
  letter-spacing: 0px;
  font-weight: bold;   
}

.blankletter {
  --border-radius: 0px;
  --opacity: 0%;
  --background-hover: #0929AB;  
}

div.blankletter {
  color: #000000;
  font-weight: bold;
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url('/assets/tiles.jpg');
  box-shadow: 1px 2px 1px rgb(137, 137, 137);  
  border-radius: 0px;
  margin: 2px;
  line-height: 26px;  
  font-size: 22px;  
}

.populatedletter {
  font-weight: bold;
  --border-radius: 0px;
  --opacity: 0%;
  --background-hover: #F9EEDA;  
}

div.populatedletter {
  color: black; /* #644B32; */
  display: inline-block;
  width: 26px;
  height: 26px;
  background-image: url('/assets/tilelighttan.jpg');
  box-shadow: 1px 2px 1px rgb(137, 137, 137);  
  border-radius: 0px;
  margin: 2px;
  line-height: 26px;
  font-weight: bold;
  font-size: 22px;  
}

.letterbank {
  font-weight: bold;
  --border-radius: 0px;
  --opacity: 0%;
  --background-hover: transparent;  
}

div.letterbank {
  color: black; /* #644B32; */
  display: inline-block;
  width: 60px;
  height: 60px;
  background-image: url('/assets/tiles.jpg');
  box-shadow: 1px 2px 1px rgb(137, 137, 137);  
  border-radius: 0px;
  margin: 4px;
  line-height: 60px;
/*  text-shadow: 2px 2px 3px rgba(255,255,255,1); */
  font-weight: bold;
  font-size: 32px;
}






