<ion-content class="contentArea"> 
  <div class="flexcontainer">           
          
    <ion-header>
      <ion-toolbar class="divheader">
        <div class="boxrow header" align="left"><ion-icon name="home" (click)="goToMenu()"></ion-icon></div>
        <div class="boxrow medscrab" align="center">MedScrab</div>
        <div class="boxrow headerpoints" align="right">{{points}}<font class="points">Pts</font></div>
      </ion-toolbar>
    </ion-header>
        
    <div class="box divlevel">        
      <ion-text class="level" color="black">
        {{'Level ' + current_level.level + ": " + current_level.name | uppercase}}
      </ion-text>
    </div>

    <div *ngIf="game" class="box divgame">
      <div class="box divinfo" align="center">
        <div class="info">
          <ion-text class="infob">{{game.drug.drug_name | uppercase}}</ion-text> 
        </div>
        <div *ngIf="warning" class="divwarning">
            <div class="warning">  
              <ion-text class="warninga">WARNING: </ion-text><br>
              <ion-text class="warningb">{{warning | uppercase}} </ion-text>
            </div>
          </div>
      </div>
    
      <div class="box divhint">
        <div *ngIf= "hints" class = "hints">
          <div class="hintbulb" align="right">         
            <img src="../assets/bulbclearbackground.png" height="100px">
          </div>
          <div class="hint">
            <ul>
              <div class="hintb" *ngFor="let hint of hints; let i = index">
              <li>{{hint | lowercase}}
              </div>
            </ul>
          </div>
        </div>
      </div>
      
      <div *ngIf="try > 0" align="center">
        <ion-text class="warning2">Please try again...</ion-text>
      </div>
      <div *ngIf="!wrong_answer">
        <div class="box divword" align="center">
          <div class="word">
            <div *ngFor="let char of scrabbled_value; let i = index"
                  [ngClass]="{char: !newline_rule(scrabbled_value,i), newline: newline_rule(scrabbled_value,i)}" >
              <div *ngIf="char.value === '*', else blank">
                <div class="blankletter" color="light" size="small"><font color="#DCB781">_</font></div>
              </div>
              <ng-template #blank>
                <div *ngIf="char.value === ' ', else showchanged">
                  <div *ngIf="!newline_rule(scrabbled_value,i)" padding></div>
                </div>
              </ng-template>
              <ng-template #showchanged>
                <div *ngIf="!char.is_fixed, else showfixed">
                  <div class="blankletter" size="small" color="medium" (click)="removeChar(i)">{{char.value | uppercase}}</div>
                </div>
              </ng-template>      
              <ng-template #showfixed>
                <div class="populatedletter" size="small" disabled color="light" >{{char.value | uppercase}}</div>
              </ng-template>
            </div>
          </div>
        </div> 

        <div class="box divletterbank" align="center">
          <div *ngFor="let char of option_list; let i = index" class="char">
            <div >
              <div class="letterbank" size="large" color="medium" (click)="addChar(i)">{{char.value | uppercase}}</div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="wrong_answer" align="center" padding-bottom>
        <div class="box divword">
          <ion-text class="warning2">Sorry, the correct answer is:</ion-text>
          <div class="box divword">
            <div class="word">
              <div *ngFor="let char of current_keyword.keyword.split(''); let i = index;" 
              [ngClass]="{char: !newline_rule(current_keyword.keyword,i, false), newline: newline_rule(current_keyword.keyword,i, false)}">
                <div *ngIf="char === ' '">
                  <div *ngIf="!newline_rule(current_keyword.keyword,i, false)" padding></div>
                </div>
                <div *ngIf="char !== ' '" class="populatedletter" size="small" color="medium" >{{char | uppercase}}</div>
              </div>
            </div>
          </div>
        </div>
        <ion-button align="center" shape="round" fill="solid" (click)="skip()">NEXT</ion-button>   
      </div>


    </div>
  </div>
</ion-content>
