<ion-content class="contentArea">

   <div class="divheader">
    <ion-header>
      <ion-toolbar>
        <ion-text class="header">
          <ion-icon name="list" (click)="goToMenu()"></ion-icon>
        </ion-text>
      </ion-toolbar>
    </ion-header>
  </div>

  <div class="divlevel" align="center">        
    <ion-button class="level" fill="outline" color="black">
      {{'Level ' + current_level.level + ": " + current_level.name | uppercase}}
    </ion-button>
  </div>

  <div *ngIf="game">
    <div class="divinfo" align="center">
      <div class="info" align="left">
        <ion-text class="infob">{{game.drug.drug_name | uppercase}}</ion-text> 
      </div>
    </div>

    <div *ngIf="warning" class="divwarning" align="center">
      <div class="warning">  
        <ion-text class="warninga">WARNING: </ion-text>
        <ion-text class="warningb">{{warning | uppercase}} </ion-text>
      </div>
    </div>

    <div *ngIf= "hints" class="divhint" align="center">
      <ion-text class="hint">         
        <ion-icon class="hinta" name="bulb"></ion-icon>
        <div *ngFor="let hint of hints; let i = index">
          <br>{{hint | uppercase}}
        </div>
      </ion-text>
    </div>
    
    <div class="divword" align="center">
      <div class="word">
        <div *ngFor="let char of scrabbled_value; let i = index" class="char">
          <div *ngIf="char.value === '*', else blank">
            <ion-button color="light" size="small"><font color="ffffff">_</font></ion-button>
          </div>
          <ng-template #blank>
            <div *ngIf="char.value === ' ', else showchanged">
              <div padding></div>
            </div>
          </ng-template>
          <ng-template #showchanged>
            <div *ngIf="!char.is_fixed, else showfixed">
              <ion-button size="small" color="secondary" (click)="removeChar(i)">{{char.value | uppercase}}</ion-button>
            </div>
          </ng-template>      
          <ng-template #showfixed>
            <ion-button size="small" disabled color="primary" >{{char.value | uppercase}}</ion-button>
          </ng-template>
        </div>
      </div>
    </div> 

    <div class="divletterbank" align="center">
      <div class="letterbank">
        <div *ngFor="let char of option_list; let i = index" class="char">
          <div >
            <ion-button size="large" color="secondary" (click)="addChar(i)">{{char.value | uppercase}}</ion-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
