.char {
  display: inline-block;
}

.contentArea { 
  --background: white;
}

.divheader {
  padding-top:10px;
  padding-bottom:10px;
}
.header {
  color: black;
  font-family: "tahoma";
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 2px;
}

.medscrab {
  color: #831B1B;
  font-weight: bold;
  font-family: "";
  font-size: 18px;
}

.parent {
  /*parent flexbox - whole page*/
  display: flex;
  flex-direction: column;  
  flex-wrap: nowrap;
  justify-content: flex-start;    
  align-items: stretch;
  align-content: stretch;
  
  width:100%;
  padding-left: 10px;
  padding-right: 10px;

  height: 100%;
}

.divlevel {
  padding-top: 5px;
  padding-bottom: 20px;
}

.level {
  color: black;
  font-family: "quicksand";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.gamehere {
  /*flexbox*/
  display: flex;
  flex-direction: column;  
  flex-wrap: nowrap;
  justify-content: flex-start;    
  align-items: stretch;
  align-content: stretch;
  width:100%;
  height: 100%;
}

.divinfo {
  /*child flexbox*/
  flex: .9;

  /*PARENT: BLUE INFO BOX*/
  display: flex;
  flex-direction: column;  
  flex-wrap: nowrap;

  align-content: center;
  align-self: center;
  align-items: center;
  justify-content: center;


  /*height + width*/
  width:100%;
  max-width: 700px;  
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  /*background*/
  background-image: linear-gradient(to right, rgba(253, 236, 123, 0.7), rgba(0, 169, 255, 0.1));
  /*blue: (0, 169, 255, 0.1)   red:(131, 27, 27, 0.07)*/

  /*padding*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px; 
}

.info {
  color: black;     
  font-family: "josefin";
  align-self: center;

  /*CHILD #1/2: BLUE INFO BOX*/
  display: flex;
  align-items: center;
  flex: 1;
}
.infob {
  color: black;  
  font-size: 34px;    
  font-weight: normal;  
  letter-spacing: 3px;   
  text-align: center;
}

.divwarning {
   /*CHILD #2/2: BLUE INFO BOX*/
   display: flex;
   align-items: center;
   flex: .5;
   padding-left: 10px;
}

.warning {
  color: #831B1B;
  font-family: "quicksand";
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
}

.warninga {
  /*text*/
  font-weight:bold;
}

.warningb {
  /*text*/
  font-size: px; 
}

.divhint { 
  /*flexbox*/
  flex: 1;

  /*flexbox*/
  display: flex;
  flex-direction: row; 

  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
  flex-wrap: nowrap;
}

.hintbulb {
 /*flexbox*/
 flex: .3;

 /*padding*/
 padding-top: 40px;
 padding-left: 20px;

 -webkit-transform:rotate(-10deg);
 -moz-transform: rotate(-10deg);
 -ms-transform: rotate(-10deg);
 -o-transform: rotate(-10deg);
 transform: rotate(-10deg);
}

.hinta{
  /*child flexbox*/
  flex: 1;

 /*PARENT: HINT LIST*/
 flex-direction: column;  
 flex-wrap: nowrap;
 align-content: center;
 align-self: center;
 align-items: center;
 display: flex;
 justify-content: center;
  
  /*padding*/
  padding-top:10px;
}

.hintb {
  /*text*/
  color: #000000;  
  font-size: 16px; 
  font-family: "quicksand";
  font-weight: bold;      
  letter-spacing: 0px; 
  
  /*flexbox*/
  
  display: flex;
  align-items: center;
  flex: 1;
}

.divword {
  padding-top: 10px;
  padding-bottom: 30px;  
  
   /*flexbox*/
   flex: .5;
}

.divletterbank {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
   /*flexbox*/
   flex: .5;

   padding-top: 5px;
   padding-bottom: 5px;
}

.letterbank {
  padding-bottom: 5px;
}

.btnletter {
  font-weight: bold;
  --border-radius: 0px;
  --opacity: 0%;
  --background-hover: #0929AB;
  --box-shadow: #0929AB;
  
}

div.btnletter {
  color: black; /* #644B32; */
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #C3C1BF;
  padding-top: 6px;
  border-radius: 4px;
  margin: 6px;
  box-shadow: 3px 5px #000000;
  font-weight: bold;
}

.btnletter2 {
  --border-radius: 0px;
  --opacity: 0%;
  --background-hover: #0929AB;
  --box-shadow: #0929AB;
  
}

div.btnletter2 {
  color: #000000;
  font-weight: bold;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #F3D4B4;
  padding-top: 6px;
  border-radius: 4px;
  margin: 6px;
  box-shadow: 3px 5px #000000;
}






