<ion-header align="left">
  <ion-toolbar class="toolbar">
    <ion-title>MedScrab</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="contentArea" >  
  <div *ngIf="quiz" class="parent">

    <div class="quizdrug" align="center">        
      <ion-text class="quizdrugname">
        {{drug.drug_name | uppercase}}
      </ion-text>
    </div>

    <div *ngFor="let item of quiz; let i = index" class="qBox">
      <div class="question">  
        <ion-text class="prompt">{{item.drug_quiz.quiz_question}}</ion-text>
      </div>
      <div class="choices" align="left">
      <ion-list>
        <ion-radio-group>
          <ion-item *ngFor="let option of item.quiz_option; let z = index" lines="none" color="transparent">
                <ion-label>{{option.quiz_option}}</ion-label>
            <ion-radio mode="md" slot="start" value="{{option.quiz_option_id}}"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      </div>
    </div>

    <div>
      <ion-button class="submit" expand="full" shape="round" fill="solid">S U B M I T</ion-button>
    </div>

  </div>
</ion-content>  
      