.divheader {
  padding-left: 5px;
  padding-right: 5px;

  /*parent flex setup for */
  height: 75px;
  padding-top: 35px;
  padding-bottom: 0px;
}

.boxrow {
  display: inline-block;
}

.header {
  height: 100%;
  width: 30%;
  color: #620000;  
  font-size: 20px;
}

.medscrab {
  color: #620000;
  font-weight: bold;
  font-family: "arial";
  font-size: 20px;

  height: 100%;  
  width: 40%;
}

.headerpoints {
  height: 100%;  
  width: 30%;
  font-family: arial;
  font-size: 20px;
  font-weight: bold;
  color: #620000;  
}

.points {
  font-family: arial;
  font-size: 14px;
  font-weight: bold;
  color: #620000; 
}

.contentArea { 
  --background: rgb(255, 255, 255);
  width: 100%; 
}

.flexcontainer {
  /*parent flex setup*/
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;  
  
  padding-left: 10px;
  padding-right: 10px;

  margin-left: auto;
  margin-right: auto;
}

.quizdrug {
  /*text - same as game page "level" section*/
  color: black; //2A200B;
  font-family: "quicksand";
  font-weight: bold;    
  font-size: 21px;      
  letter-spacing: 2px; 

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;

  position: fixed;
}

.whitespace {
  height: 90px;
}

.qBox {
  /*flexbox*/
  display: flex; 
  flex-direction: column;
  padding-top: 5px;
  padding-bottom: 10px;
}

.question {
  /*padding*/
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;

  background-color: #DCB781;
  border-top-right-radius: 10px; 
  border-top-left-radius: 10px;  
  background-image: url('/assets/tiles.jpg');
  box-shadow: 2px 2px 2px gray; /*#6D83C4;  */  
}

.prompt {
  color: black; //2A200B;
  font-family: "quicksand";
  font-weight: bold;    
  font-size: 18px;      
  letter-spacing: 0px; 
}

.radiobtn  {
  background-color: white;
  border-radius: 360%; 
  color: black !important;
  --color: rgb(0,0,0);
}

.choices {
  /*text*/
  color: black; 
  font-family: "quicksand";
  font-weight: normal;
  letter-spacing: 0px; 

  border-bottom-right-radius: 10px; 
  border-bottom-left-radius: 10px; 
  background-color: transparent;
  background-image: url('/assets/tilelighttan.jpg');        
  box-shadow: 2px 2px 2px gray; /*#6D83C4;  */  
}

.choicesBackground {
  background-image: url('/assets/tilelighttan.jpg');      
}

.submit {
  padding-top: 0px;
}

.answerfeedback {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 0px;

  font-family: "quicksand";
  font-weight: bold;    
  font-size: 16px;    
}

.quizLabel {
  white-space: pre-wrap;
  overflow-wrap: normal;
}
