// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #488aff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0bb8cc;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #F3D4B4;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light original color: #f4f5f8**/
  --ion-color-light: #BFBEBE;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@font-face {
  font-family: 'josefin-sans';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/josefin-sans/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Josefin';
  src: url('../assets/fonts/josefin-sans/JosefinSans-Bold.ttf');
}

@font-face {
  font-family: 'Open';
  src: url('../assets/fonts/open-sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Moon';
  src: url('../assets/fonts/moon-flower/Moon Flower Bold.ttf');
}

@font-face {
  font-family: 'Shorelines';
  src: url('../assets/fonts/shorelines-script/Shorelines Script Bold.otf');
}

@font-face {
  font-family: 'Monoglyceride';
  src: url('../assets/fonts/monoglyceride/Monoglyceride.ttf');
}

@font-face {
  font-family: 'Give';
  src: url('../assets/fonts/give-it-your-heart/Give It Your Heart.ttf');
}

@font-face {
  font-family: 'Lemonberry';
  src: url('../assets/fonts/mrf-lemonberry-sans/MRF Lemonberry Sans.otf');
}

@font-face {
  font-family: 'Typewriter';
  src: url('../assets/fonts/typewriter/TYPEWR_B.TTF');
}

@font-face {
  font-family: 'Akaju';
  src: url('../assets/fonts/akaju/Akaju_Shine_demo.otf');
}

@font-face {
  font-family: 'Ageta';
  src: url('../assets/fonts/ageta-chubby-demo/Ageta Chubby Demo.otf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/roboto-mono/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Gidole';
  src: url('../assets/fonts/gidole/Gidole-Regular.otf');
}

@font-face {
  font-family: 'Simplifica';
  src: url('../assets/fonts/SIMPLIFICA/SIMPLIFICA Typeface.ttf');
}

@font-face {
  font-family: 'Art';
  src: url('../assets/fonts/art-brewery/Art Brewery.ttf');
}

@font-face {
  font-family: 'always';
  src: url('../assets/fonts/always-forever/always forever.ttf');
}

@font-face {
  font-family: 'quicksand';
  src: url('../assets/fonts/quicksand/Quicksand-Regular.otf');
}

@font-face {
  font-family: 'goodday';
  src: url('../assets/fonts/good-day/Good Day.ttf');
}

@font-face {
  font-family: 'dearjoe';
  src: url('../assets/fonts/dear-joe-5-casual/DJ5CTRIAL.ttf');
}

@font-face {
  font-family: 'september';
  src: url('../assets/fonts/September Mornings.ttf');
}

@font-face {
  font-family: 'permanent';
  src: url('../assets/fonts/permanent-marker/PermanentMarker.ttf');
}


