  <ion-header>
    <ion-toolbar class="divheader">
      <div class="boxrow header" align="left"><ion-icon name="home" (click)="goToMenu()"></ion-icon></div>
      <div class="boxrow medscrab" align="center"><img src="../assets/MediScrab266.png" height="19px"><img src="../assets/medscrab32.png" height="19px"></div>
      <div class="boxrow headerpoints" align="right"><font class="points"></font></div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="contentarea">
    <div class="flexcontainer">

    <div class="box selectdrugbuttontop">
      <div class="selectdrugbtntop">SELECT DRUG</div>
    </div>

    <div class="box step1background">
      <div class="num">Step 1</div>
      <ion-item padding>
        <ionic-selectable
          [(ngModel)]="selectedDrug"
          [items]="drugs$ | async"
          itemValueField="drug_id"
          itemTextField="drug_name"
          [canSearch]="true"
          [isMultiple]="true"
          >
        </ionic-selectable>
      </ion-item>

      <div class="num">Step 2</div>
      <div padding>
        <ion-button color="danger" size="default" type="submit" expand="block" (click)='saveDrug()'>P L A Y &nbsp; G A M E</ion-button>
      </div>
    </div>

  </div>
</ion-content>
