.divheader {
    padding-left: 5px;
    padding-right: 5px;
  
    /*parent flex setup for */
    height: 75px;
    padding-top: 35px;
    padding-bottom: 0px;
  }
  
  .medscrab {
    color: #620000;
    font-weight: bold;
    font-family: "arial";
    font-size: 20px;
  
    height: 100%;  
    width: 100%;
  }
  
  .flexcontainer {
    /*parent flex setup*/
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column; 
    
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .selectdrug {
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
    color: #620000;
  }
  
  .num {
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    text-align: center;
    color: #620000;
  }

  .filler {
    flex: 1 1 auto;
  }